

  @import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
}

#wrapper {
     height: 2900px;
     max-width: 990px;
     width: 100%;
     background-image: url(../img/Group-5.png);
     margin: 0 auto;
     position: relative;
}


.toptext {
     position: relative;
     top: -80px;
     left: 400px;
     width: 520px;
}

.people {
     position: relative;
     z-index: 30;
     top: -300px;
     left: 50px;
     width: 100%;
     max-width: 30%;
}

.moon  {
     position: relative;
     top: -30px;
     left: -520px;
     width: 100%;
     max-width: 40%;
}

.wave {
     position: relative;
     top: -400px;
     z-index: 10;
}

.bamboo1 {
     position: absolute;
     top: 370px;
     z-index: 40;
     left: 0px;
}

.kare {
     position: absolute;
     top: 490px;
     z-index: 50;
     left: 50px;
}

.ramen {
     position: absolute;
     top: 490px;
     z-index: 40;
     left: 370px;
}

.hitsumabusi {
     position: absolute;
     top: 490px;
     z-index: 50;
     right: 50px;
     width: 100%;
     max-width: 28%;
}

.cloud {
     position: absolute;
     top: 590px;
     z-index: 50;
}

.text2 {
     position: relative;
     top: -280px;
     z-index: 50;
     left: 140px;
}

.lightcolor {
     position: absolute;
     mix-blend-mode: lighten;
     z-index: 20;
}

.star {
     position: relative; 
     top: -1200px;
     left: 870px;
}

.libra {
     position: relative;
     top: -1100px;
     right: 120px;
}

.aries {
     position: relative;
     top: -600px;
     left: 330px;
}

.scorpio {
     position: relative;
     top: 600px;
     right: 375px;
}

.blendmode {
     position: absolute;
     mix-blend-mode: lighten; 
     top: 0px;
}

.button {
     display: flex;
     width: 100%;
     margin: 23px;
     padding: 70px;
}

.button li{
     width: 50%;
     list-style: none;
}

.button img {
     position: relative;
     top: -300px;
}

.container {
     color: aliceblue;
     justify-content: center;
     align-items: center;
     display: flex;
     position: relative;
     bottom: 350px;
}

.tag  li {
list-style: none;
}
  

.tag p {
     position: relative;
     top: -230px;
     left: 170px;
     font-family: 'Zen Kaku Gothic New', sans-serif;
     font-weight: 100px;
     font-size: 16px;
}

.menu-1 img{
     position: relative;
     left: -190px;
     width: 100%;
     max-width: 60%;
}

.menu-1 {
     height: 350px;
}

.menu-2 img {
     position: relative;
     left: 437px;
}
.menu-2 p {
     position: relative;
     left: -168px;
}
.menu-2 {
     height: 350px;
}

.bottom p {
     color: aliceblue;
     position: relative;
     top: 150px;
     margin-right: 250px;
     text-align: center;
     font-family: 'Zen Kaku Gothic New', sans-serif;
     font-weight: 500px;
     font-size: 20px;
}

.bottom {
     padding-left: 300px;
     position: relative;
     top: -350px;
}